@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', 'san-serif';

}
body{
    background-color: #23262e
    ;
}

.bg{
    background-color:#23262e;
}

.nav-bg{
    background-color: rgba(38, 42, 51, 1);
}
input[type="text"] {  
    padding-left: 10px; 
} 